* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Zajistí, že stránka bude mít minimální výšku */
    margin: 0;
    padding: 25px 0;  /* 25px mezera nahoře a dole */
}

.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: #4caf50;
    margin-bottom: 30px;
}

.mood-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 250px;
}

.mood-btn:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

#mood-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#history {
    margin-top: 30px;
}

#mood-history {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

#mood-history li {
    background-color: #f3f4f6;
    margin: 8px 0;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#stats {
    margin-top: 30px;
}

#most-frequent-mood {
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
}
